{% extends "layout.html" %}
    {% block mainArea %}
        <div style="text-align: center;">
            <p align="center">
                <h2>About Algorithms</h2>
                <h4>Sequential:</h4>
                  a.k.a OS. The algorithm returns envy-free allocations if they exist, does not return max-min allocation and returns
                    one Pareto optimality allocation.
                <h4>Restricted simple:</h4>
                 a.k.a RS. The algorithm does not return envy-free allocations, does not return max-min allocations and does not
                    return one Pareto optimality allocations.
                <h4>Singles Doubles:</h4>
                  a.k.a SD. The algorithm returns envy-free allocations, returns max-min allocations and returns one Pareto
                    optimality allocations.
                <h4>Iterated singles doubles:</h4>
                 a.k.a IS. The algorithm returns envy-free allocations, returns max-min allocations and returns one Pareto
                    optimality allocations.
                <h4>S1:</h4>
                The algorithm returns envy-free allocations if they exist and returns max-min allocations.
                <h4>L1:</h4>
                The algorithm returns envy-free allocations if they exist and returns max-min allocations.
                <h4>Top down:</h4>
                a.k.a TD. The algorithm does not return envy-free allocations and returns max-min allocations.
                <h4>Top down alternating:</h4>
                a.k.a TA. The algorithm does not return envy-free allocations and returns max-min allocations.
                <h4>Bottom up:</h4>
                a.k.a BU. The algorithm does not return envy-free allocations and does not return max-min allocations.
                <h4>Bottom up alternating:</h4>
                a.k.a BA. The algorithm does not return envy-free allocations and does not return max-min allocations.
                <h4>Trump:</h4>
                a.k.a TR. The algorithm returns envy-free allocations, does not return max-min allocations and returns one Pareto
                    optimality allocations.
            </p>
        </div>
    {% endblock %}